N8N_internalAlpha-main/N8N_internalAlpha-main/N/Arquivos_JSON/Alpha_Group_Clientes/Cliente_Carbom_FCON/Atendimento Alpha FCON.json
{
  "name": "Atendimento Alpha (OK) v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "599d203e-e25d-4bdc-a774-0463c3b55f37",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4848,
        480
      ],
      "id": "7399bd3f-1e0d-4984-83c5-0d6b6bf2b8ce",
      "name": "Recebe Mensagem",
      "webhookId": "599d203e-e25d-4bdc-a774-0463c3b55f37"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f61d41a-d3f7-47bd-b1f5-fb8e52265b09",
              "name": "cliente.NomeDoCliente",
              "value": "={{ $('Recebe Mensagem').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "cb4333f0-d993-429b-912e-878e35fe5867",
              "name": "cliente.Numero",
              "value": "={{ $('Parar?').item.json.number }}",
              "type": "string"
            },
            {
              "id": "2968ca77-3987-48bf-90ed-c3e94f4e6a7e",
              "name": "wpp.Mensagem",
              "value": "={{ $('Recebe Mensagem').item.json.body.data.message?.base64\n   ?? $('Recebe Mensagem').item.json.body.data.message?.message?.base64\n   ?? $('Recebe Mensagem').item.json.body.data.message?.conversation\n   ?? null }}",
              "type": "string"
            },
            {
              "id": "2dd9f9f1-13b8-4b94-863f-aab2701c83cf",
              "name": "cliente.Data",
              "value": "={{ $('Recebe Mensagem').item.json.body.date_time\n  ? $('Recebe Mensagem').item.json.body.date_time.toDateTime().setZone('America/Sao_Paulo').toFormat('dd/LL/yyyy')\n  : '' }}",
              "type": "string"
            },
            {
              "id": "2795f1b8-33ba-4e55-8a4c-c20421ad884a",
              "name": "cliente.UltimaMensagem",
              "value": "={{ $('Recebe Mensagem').item.json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "6f3a7ba1-8bff-4c2d-bf6f-0c2e97f34862",
              "name": "wpp.TipoMensagem",
              "value": "={{ $('Recebe Mensagem').item.json.body.data.messageType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3792,
        672
      ],
      "id": "853f5a51-1182-441c-8a9b-66c5ff35b4a9",
      "name": "Filtra Os Dados"
    },
    {
      "parameters": {
        "content": "# ASSISTENTE DE AGENDAMENTO COM IA\n# DOMINANDO AUTOMAÇÕES ",
        "height": 140,
        "width": 760,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -32
      ],
      "typeVersion": 1,
      "id": "6837aca0-c962-46b5-b08e-3440b7c36274",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM n8n_chat_histories;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1024,
        1648
      ],
      "id": "64bd78a0-d2aa-449c-9522-179fb3f2247c",
      "name": "Executar para Limpar TODOS o histórico de Mensagens"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const key = item.json?.body?.data?.key ?? {};\n  const texto = item.json?.Resposta || \"Recebido!\";\n\n  const remoteJid    = (key.remoteJid    || \"\").trim();\n  const remoteJidAlt = (key.remoteJidAlt || \"\").trim();\n\n  const isRealJid = (jid) => /@(s\\.whatsapp\\.net|c\\.us)$/i.test(jid);\n  const toNumber  = (jid) =>\n    (jid || \"\")\n      .replace(/@s\\.whatsapp\\.net$/i, \"\")\n      .replace(/@c\\.us$/i, \"\")\n      .replace(/\\D/g, \"\");\n\n  let chosenJid = \"\";\n  let number    = \"\";\n  let halt      = false;\n\n  if (remoteJid && isRealJid(remoteJid)) {\n    chosenJid = remoteJid;\n  } else if (remoteJidAlt && isRealJid(remoteJidAlt)) {\n    chosenJid = remoteJidAlt;\n  } else {\n    // nem remoteJid nem remoteJidAlt trouxeram JID \"real\" => para o fluxo\n    halt = true;\n  }\n\n  if (!halt) {\n    number = toNumber(chosenJid);\n    if (!number) {\n      // algo muito fora do padrão: para com segurança\n      halt = true;\n    }\n  }\n\n  return {\n    json: {\n      remoteJid,\n      remoteJidAlt,\n      chosenJid,   // para debug\n      number,      // E.164 sem sufixo\n      halt,        // se true, seu IF interrompe\n      replyText: texto\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4672,
        480
      ],
      "id": "01274375-b3c5-4447-9a87-f3891dca8284",
      "name": "Code3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ebe59294-32ef-43d8-ad91-a7d0f1f92e0b",
              "leftValue": "={{$json.isLID}}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2240,
        2144
      ],
      "id": "918c6a15-dbcb-4619-bfa7-70587719db98",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evoapi.alphan8n.com.br/message/sendText/Contato",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5511953277910\",\n  \"text\": \"Olá Henrique, você acabou de receber uma mensagem com @lid.\\n\\nImportante neste caso verificar manualmente se o Agente de IA respondeu a mensagem, pois o Meta, para evitar SPAM em alguns números, insere uma \\\"máscara\\\" que não é possível identificá-lo. Seguem abaixo os dados do cliente (Nome e Mensagem) para que você possa localizar a mesma manualmente e seguir com o contato manual especificamente neste caso.\\n\\nID: {{ $json.number }}.\\nNome: {{ $('Recebe Mensagem').item.json.body.data.pushName }}.\\nTexto: {{ $('Recebe Mensagem').item.json.body.data.message.conversation }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1824,
        2320
      ],
      "id": "ebae7c1d-54a1-4687-87eb-3797cb2895c0",
      "name": "Agente de Notificação",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4432,
        784
      ],
      "id": "f8632d51-b750-4f57-86a2-2ab00e172880",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c447660b-7b88-4293-86e3-07335df5ce74",
              "leftValue": "={{ $('Recebe Mensagem').item.json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4288,
        480
      ],
      "id": "3e8077bf-dfba-4d06-add3-4e48e6fd7522",
      "name": "A Mensagem é minha?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4048,
        240
      ],
      "id": "67e3832a-03b0-47af-860e-4c536a21395e",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Filtra Os Dados').item.json.wpp.TipoMensagem }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e81ee0f9-b636-4db4-b6ff-e26fc5166c72"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "67da8380-4267-4acf-ae1a-f1e78fe7b89b",
                    "leftValue": "={{ $('Filtra Os Dados').item.json.wpp.TipoMensagem }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c215a461-863b-402d-b674-31d2f7c8a92f",
                    "leftValue": "={{ $('Filtra Os Dados').item.json.wpp.TipoMensagem }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -704,
        640
      ],
      "id": "12bf16f6-4a0e-4471-bd84-bf23c42b226f",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evoapi.alphan8n.com.br/chat/getBase64FromMediaMessage/Contato",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Recebe Mensagem').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        464
      ],
      "id": "437476cd-e980-452b-8207-ebf1b7d4436c",
      "name": "Converter Audio em Base"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "audio/ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        192,
        464
      ],
      "id": "c0b8b488-cd16-490b-95b5-96534e075629",
      "name": "Converte Audio para Arquivo2"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        432,
        464
      ],
      "id": "9df2b749-fc0c-4106-815a-9dcabdbf1355",
      "name": "Transcreve Audio1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evoapi.alphan8n.com.br/chat/getBase64FromMediaMessage/Contato",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Recebe Mensagem').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        848
      ],
      "id": "de64aae5-8d55-4c59-8617-ed1c44ea4209",
      "name": "Converter Imagem em Base"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        176,
        832
      ],
      "id": "c6637d83-3978-4d34-8283-de6da289139b",
      "name": "Converte Audio para Arquivo3"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "text": "=O que há nessa imagem? me de a resposta como se fosse um cliente descrevendo na imagem, comece dizendo: te enviei uma imagem que... Sempre em primeira pessoa, como se você você o cliente. Ao invés de dizer você me enviou, diga eu te enviei.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        512,
        848
      ],
      "id": "0564ce74-0f92-4ab8-ac69-7d0a7cf13a4b",
      "name": "Transcreve Imagem1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        752,
        704
      ],
      "id": "f4af8a3d-00b5-4c05-8787-c06f17e4b96d",
      "name": "Junta tudo1"
    },
    {
      "parameters": {
        "content": "# Passo 02: Verifica Se é Áudio, Texto ou Imagem",
        "height": 640,
        "width": 1320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1024,
        384
      ],
      "typeVersion": 1,
      "id": "1d0e62f7-e427-44d0-8234-c04b0768d34b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Filtra Os Dados').item.json.cliente.Numero }}",
        "messageData": "={{ String(\n  $json.text\n  ?? $('Recebe Mensagem').item.json.body.data.message?.conversation\n  ?? $('Recebe Mensagem').item.json.body.data.message?.extendedTextMessage?.text\n  ?? ''\n) }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1040,
        688
      ],
      "id": "0eaab6d2-badc-4037-a1a7-8f0a3d6e8657",
      "name": "RegistraMsgFila1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Name",
        "key": "={{ $('Filtra Os Dados').item.json.cliente.Numero }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1264,
        688
      ],
      "id": "ab4e5320-1ec6-4c06-b8cf-80ab4681c8cb",
      "name": "BuscaMensagem1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        464
      ],
      "id": "da7dd9c4-c80c-4a86-aeb6-2827e109aa75",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed61dda5-aa47-4af3-b4e1-e5b87270c6eb",
              "leftValue": "={{ $json.Name.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        512
      ],
      "id": "bbddc075-b368-4b37-8413-4802fc3321ed",
      "name": "VerificaSeÉMaiorQue"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1744,
        848
      ],
      "id": "88161e75-8eaf-4c47-855e-41e391057fc1",
      "name": "Aguarda 5 seg1",
      "webhookId": "7aeb7dcc-493d-4f87-992b-f00a418fba2e",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Name",
        "key": "={{ $('Filtra Os Dados').item.json.cliente.Numero }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1952,
        848
      ],
      "id": "4e118231-076b-4150-b577-b0603740a247",
      "name": "VerificaMensagem1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0db8300a-ad92-480c-88fb-bb187a7f536a",
              "name": "Mensagem",
              "value": "={{ $json.Name.reverse().join(\"\\n\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        848
      ],
      "id": "d1c42cd0-8017-46d0-a86d-9455a0fb292f",
      "name": "OrganizaMensagem1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Filtra Os Dados').item.json.cliente.Numero }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2384,
        848
      ],
      "id": "8230276d-81df-406b-9904-d980118e24d5",
      "name": "Redis2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Passo 03: Cria Fila de Mensagens",
        "height": 660,
        "width": 1680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        400
      ],
      "typeVersion": 1,
      "id": "1b36bf28-2075-41d6-8184-2b93db74687b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "161406a2-1c53-4229-ad18-a6552d912b9a",
              "name": "Mensagem",
              "value": "={{ $json.Mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        672
      ],
      "id": "8364053a-3d5c-479e-bdd9-63d20ce2cb1c",
      "name": "MensagemDeTexto1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Filtra Os Dados').item.json.cliente.Numero }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1392,
        464
      ],
      "id": "ad5591d7-a017-4e69-ba70-5483a869388e",
      "name": "Redis3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Junta tudo1').item.json.Mensagem ?? $('Junta tudo1').item.json.text ?? $('Junta tudo1').item.json.content ?? '' }}\n\nDatetime that this message is being sent: {{ new Date().toDateTime().toISO() }} - {{ [\"domingo\", \"segunda-feira\", \"terça-feira\", \"quarta-feira\", \"quinta-feira\", \"sexta-feira\", \"sábado\"][$now.extract(\"weekday\") % 7] }}",
        "options": {
          "systemMessage": "=<base>\nVocê é a Bia, consultora digital da empresa [NOME DA EMPRESA]. Atende clientes via WhatsApp de forma humana, breve, consultiva e profissional.\n\nSobre a empresa:\n- Nome: Alpha Digital\n- Atuação: Tráfego pago (Google, Meta, LinkedIn), branding, posicionamento de marca e gestão de leads.\n- Experiência: 7 anos de mercado, mais de 400 empresas atendidas, mais de R$2 milhões gerenciados em anúncios.\n- Clientes no Brasil, Europa e EUA.\n- Site: https://marketingalphadigital.com.br/\n- Instagram: @agenciaalpha_\n\nSeu objetivo no atendimento:\n1. Qualificar leads\n2. Identificar necessidades\n3. Despertar o interesse e tirar duvidas\n4. Coletar dados estratégicos\n5. Direcionar o cliente para uma reunião via Google Meet com um especialista\n</base>\n\n<objetivo>\nSeu foco é tirar TODAS as dúvidas em uma conversa fluída sobre as campanhas de trafego pago ou posicionamento de marca, estratégias de marketing digital e após tirar as dúvidas **marcar uma reunião via Google Meet** com um especialista da [NOME DA EMPRESA], que irá analisar o caso com mais profundidade e apresentar a solução ideal.\n</objetivo>\n\n<perfil>\n**TOM DE CONVERSA:**\n- Profissional, mas descontraído.\n- Natural e humano, sem parecer robótico.\n- Pergunte com empatia e curiosidade real.\n- Evite mensagens muito longas. Seja direto, objetivo e amigável.\n- Sempre use o nome do cliente\n- Não envie mais de 3 mensagens seguidas\n- Use linguagem natural, com pausas e perguntas\n- Seja consultiva e empática\n- Seja breve, mas nunca seca\n\nRoteiro sugerido:\n**EXEMPLO DE ABERTURA (curta e eficaz):**\n1.\tCumprimente e se apresente: “Oi! Tudo bem? Sou a Bia aqui da [NOME DA EMPRESA]!”\n2.\tPeça mais informações:\n- Nome do contato\n- Nome da Empresa\n3. Pergunte se já investiram em marketing digital ou tráfego pago\n4. Se sim, pergunte:\n   - Quanto investiram\n   - Qual retorno tiveram\n5. Peça:\n   - Site\n   - Redes sociais\n6. Pergunte o que buscam hoje com marketing (ex: mais vendas, leads, posicionamento)\n7. Quando o cliente demonstrar necessidade clara ou interesse genuíno, explique brevemente como a reunião pode ajudá-lo e convide para um bate-papo via Google Meet com um especialista.\nA proposta da reunião deve vir após criar valor, mostrando como o encontro pode ajudar o cliente com os pontos que ele trouxe.\n8. Se aceitar, colete:\n   - Nome (caso não tenha falado na primeira pergunta)   \n   - Nome da empresa (caso não tenha falado na primeira pergunta) \n   - E-mail\n   - Sugestão de data e horário\nFinalize sempre com uma frase simpática, informando que o time confirmará o agendamento.\n</perfil>\n\n----\n\n**COMPORTAMENTOS PARA CENÁRIOS ESPECÍFICOS:**\n\n- **Se demonstra desconfiança:**\n  > Tranquilo! Não estamos aqui pra empurrar nada. Só queremos entender se conseguimos ajudar sua empresa com soluções que já aplicamos com sucesso em outras :)\n\n- **Se o cliente responder \"Não quero\", \"Não tenho interesse\", \"Não obrigado\", ou similares:** \n  > Certo muito obrigado pela atenção, vamos encerrar os contatos oferencendo nossas soluções! 😊 Permanecemos a disposição para novas oportunidades!\n\n----\n\n<restricoes >\n- Nunca diga que é uma inteligência artificial ou robô.\n- Nunca diga que vai chamar um humano. Diga: “vou consultar um especialista da equipe”.\n- Nunca envie valores, orçamentos ou ensine como fazer campanhas.\n- Nunca envie mais de 3 mensagens seguidas.\n- Não compartilhe dados sensíveis ou confidenciais além dos essenciais para o agendamento.  \n- Não informe horários do dia de hoje ou horários já passados.  \n- Nunca agende sem antes consultar horários disponíveis.  \n- Evite frases como “não consegui ver sua resposta” ou “você respondeu?”. Refaça a pergunta de forma leve.\n- Nunca pressione o cliente com repetição da mesma solicitação (ex: e-mail, horário).\n- Após concluir o agendamento, não consultar novamente o mesmo horário nesta conversa.\n- Se o cliente não mandou o nome ainda, não responda [nome] vazio, pergunte novamente.\n- Se o cliente responder \"Não quero\", \"Não tenho interesse\", \"Não obrigado\", ou similares: Agradecer educadamente a atenção e informar que vamos encerrar os contatos oferencendo nossas soluções a ele! E que permanecemos a disposição para novas oportunidades!\n</restricoes >\n\n<datas_horarios>\n- Data atual: {{ $now.toUTC(-180) }}\n- Use timezone America/Sao_Paulo (-03:00).\n- \"amanhã\" = data atual + 1 dia.\n- \"semana que vem\" = data atual + 7 dias.\n- Horários em PT-BR (\"16hs\", \"16h\", \"16:00\") = HH:mm em 24h.\n- Formate sempre em ISO 8601 com timezone: \"YYYY-MM-DDTHH:mm:00-03:00\".\n- Se vier só dia da semana sem hora → usar \"00:00\".\n</datas_horarios>\n\n<uso_de_tools>\n***APENAS ATIVAR A TOOL DE AGENDAMENTO QUANDO O CLIENTE SINALIZAR QUE TOPOU A REUNIÃO VIA GOOGLE MEETING***\n**Ferramenta: GOOGLE CALENDAR**  \n- `\"agendar\"` → Criar um novo agendamento.  \n- `\"consultar\"` → Verificar horários disponíveis e Buscar outros horários quando o paciente pedir um novo.  \n- `\"cancelar\"` → Cancelar agendamento existente.  \n\nSe o cliente quiser reagendar um horário que já foi agendando no google calendar, primeiro utilize a **Ferramenta: GOOGLE CALENDAR** com a intenção de cancelar, após cancelar, utilize novamente a **Ferramenta: GOOGLE CALENDAR** com a intenção de \"agendar\". Não precisa informar ao cliente o que você fará, realize todas as execuções de tools necessárias para cancelar o agendamento anterior e agendar o novo horário.\n\nVocê sempre deve estruturar os dados para enviar à integração com o Google Calendar. Preencha os campos abaixo conforme as instruções:\n\n1. *nome_cliente*: Nome completo do cliente como string. Exemplo: \"Luan Alves\"\n2. *telefone_cliente*: {{ $('Filtra Os Dados').item.json.cliente.Numero }}\n3. *email_cliente*: (se vazio solicite o cliente, o e-mail é necessário para agendar a reunião).\n4. *data_consulta_reuniao*: dia, Data e hora da consulta desejada no formato ISO 8601 com timezone Brasil (-03:00). Exemplo: \"2025-07-18T14:00:00-03:00\".  \n   ⚠ Se o cliente não informar nenhuma data, envie a data de amanhã.\n5. *remote_jid*: {{ $('Filtra Os Dados').item.json.cliente.Numero }}\n6. *intenção: Pode ser \"consultar\", \"agendar\", \"cancelar\" ou \"atualizar\".\n   -Se vier sugestão apenas de data, por exemplo, sexta-feira, envie a data, com horário 00:00.\n7.informação_extra: Se o cliente soliciar horário para consulta/agendamento envie como informação extra para consulta. Por exemplo: \"horaríos no período da tarde\" se não tiver observações envie vazio: \"\".\n\n⚠ *IMPORTANTE:* Sempre envie o JSON exatamente no formato acima, mesmo que alguns campos estejam vazios (Nunca envie: Nome, Telefone e intenção vazia).\n\n- NUNCA cancele ou faça update de datas na agenda usando a tool Google Calendar, sem antes confirmar para o cliente.\n- Sempre Respeitar as regras e o Prompt de horários de atendimento do sub_workflow GOOGLE_CALENDAR\n</uso_de_tools>\n\n<exemplos>\n✅ Exemplo de Mensagens e Fluxo\n### Confirmação de Agendamento (Seguir o exato formato de modelo abaixo)\n\nReunião confirmada ✅  \n📅 Quinta (18/07) às 14h  \n📍 Google Meeting  \n\n### Confirmação de Atualização (Seguir o exato formato de modelo abaixo)\n\nReunião atualizada ✅  \n📅 Sexta (19/07) às 10h  \n📍 Google Meeting\n\n### Confirmação de Cancelamento (Seguir o exato formato de modelo abaixo)\n\nSua reunião foi cancelada com sucesso.\nQuer que eu te ajude a marcar um novo horário?\n\n✅ Checklist\n✔️ Coletar e confirmar todos os dados obrigatórios.\n✔️ Usar atualizar para pequenas alterações, cancelar e agendar se necessário.\n✔️ Nunca agendar sem consultar horários.\n✔️ Informar o cliente claramente sobre o resultado da ação.\n</exemplos>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -352,
        1248
      ],
      "id": "d3ac6f90-8260-4212-bdcc-4aa171beb935",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -512,
        1520
      ],
      "id": "ff3125da-aedd-46de-8396-135b299034cf",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Filtra Os Dados').item.json.cliente.Numero }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -352,
        1600
      ],
      "id": "460b113e-8093-4565-82b3-b8ec130e594c",
      "name": "Postgres Chat Memory1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8048e5b0-2357-4635-a319-2adba11ec6d5",
              "name": "Resposta",
              "value": "={{ $json.output.split('\\n\\n') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        1872
      ],
      "id": "5353bba1-944a-4a55-85b4-0edca638bc63",
      "name": "Separa a mensagem em várias1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Resposta",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        608,
        1968
      ],
      "id": "b3556a35-57ff-4d97-8a7a-dfd7d97fcc2e",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        1952
      ],
      "id": "480afc4d-cefc-4ce0-9e42-73700fe1e567",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me3",
      "typeVersion": 1,
      "position": [
        1360,
        1984
      ],
      "id": "8a28e35c-3e7e-4db3-955a-130726603be9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "482e06d1-4988-4b93-95d0-31475b0dd193",
              "name": "Resposta",
              "value": "={{ \n  String($json.output || '')\n    .replace(/\\*\\*/g, '')            // remove ** negrito **\n    .replace(/\\r/g, '')              // remove CR\n    .replace(/[^\\S\\r\\n]+\\n/g, '\\n')  // limpa espaços antes de \\n\n    .trim()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        1248
      ],
      "id": "d5aa2af4-c9ab-4161-ac3f-1da0eb9338c5",
      "name": "PreparaMensagem1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evoapi.alphan8n.com.br/message/sendText/Contato",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": {{\n    JSON.stringify(\n      String($('Filtra Os Dados').item.json.cliente.Numero || '')\n        .replace(/\\D/g,'')                      // só dígitos\n    )\n  }},\n  \"text\": {{\n    JSON.stringify(\n      String($json.Resposta || '')\n        .replace(/[\\u0000-\\u001F\\u2028\\u2029]+/g, ' ') // limpa controles/line-sep\n        .slice(0, 4000)                         // evita textos gigantes\n    )\n  }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        1248
      ],
      "id": "f6eb2f0f-ff3b-4474-b17a-dd99b4287a1f",
      "name": "Resposta Cliente1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1104,
        2048
      ],
      "id": "68493d74-06cb-46ac-95e4-d22f75f5d36c",
      "name": "Aguarda 1 segundo1",
      "webhookId": "79e909eb-9ae9-40bf-8d98-db66523eb649"
    },
    {
      "parameters": {
        "content": "# Passo 05: Envia Resposta para o Cliente",
        "height": 680,
        "width": 1132,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        1152
      ],
      "typeVersion": 1,
      "id": "b120d2b2-93fe-419f-b9e0-7e71906e6975",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "includeTime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}",
        "outputFieldName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Field_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        -64,
        1520
      ],
      "id": "d92b5ae0-7038-4bc6-8f13-6fdedd128778",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "description": "Use essa tool ao final da interação após receber os dados: Nome do Cliente, e-mail, e data de interesse da avaliação.\n\nUse para: consultar horários disponíveis, agendar ou cancelar avaliação no google calendar",
        "workflowId": {
          "__rl": true,
          "value": "9jREqYSci26bXJLa",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nome_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nome_cliente', `Envie o nome do cliente`, 'string') }}",
            "telefone_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('telefone_cliente', `Envie o numero do cliente`, 'string') }}",
            "email_cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email_cliente', `Envie o email do cliente`, 'string') }}",
            "data_consulta_reuniao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('data_consulta_reuniao', `Envie a data e hora desejada pelo cliente no formato ISO 8601 com timezone Brasil (-03:00).\n⚠️ Se o cliente não informar uma data ou dia alternativo, envie o valor vazio \"\".`, 'string') }}",
            "remote_jid": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('remote_jid', `util para enviar remotejid do cliente\n\nEntenda qual a intenção nesse momento: Consultar, agendar, cancelar ou atualizar.`, 'string') }}",
            "intenção": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('inten__o', ``, 'string') }}",
            "informação_extra": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('informa__o_extra', `util para identificar se precisa de informação extra na hora de consultar um horário, por exemplo: apenas horário da manhã, apenas horários da tarde...`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nome_cliente",
              "displayName": "nome_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefone_cliente",
              "displayName": "telefone_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email_cliente",
              "displayName": "email_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data_consulta_reuniao",
              "displayName": "data_consulta_reuniao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "remote_jid",
              "displayName": "remote_jid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "intenção",
              "displayName": "intenção",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "informação_extra",
              "displayName": "informação_extra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -208,
        1600
      ],
      "id": "d34018d3-fb27-4fda-9e20-a753707ee6a1",
      "name": "GOOGLE CALENDAR1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eL5uqJYKdN1hFd0k",
          "mode": "list",
          "cachedResultName": "Trello Upsert"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -3776,
        928
      ],
      "id": "ad16ff27-8d63-41fc-9497-afa92d5aaa6f",
      "name": "Trello Upsert (async)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "njk5bQ006wJs6B74",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -3776,
        1152
      ],
      "id": "1b0e2591-c000-4106-b46a-0b9782a85288",
      "name": "Sheets Upsert (async)",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35ff6525-c5b2-407b-8080-ca4a4225e311",
              "name": "number",
              "value": "={{ $('Code3').item.json.number }}",
              "type": "string"
            },
            {
              "id": "f04ad458-0417-41a4-b633-8d4d183ae821",
              "name": "text",
              "value": "={{ $('Code3').item.json.text }}",
              "type": "string"
            },
            {
              "id": "a235f2b2-9bf2-475d-8752-4f9b832f09ff",
              "name": "isLID",
              "value": "={{ $('Code3').item.json.isLID }}",
              "type": "string"
            },
            {
              "id": "673050e9-7aa4-417f-be91-ac86b68a41b5",
              "name": "pushName",
              "value": "={{ $('Recebe Mensagem').item.json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "1562d901-8777-4dc3-88d2-f78155a975b7",
              "name": "conversation",
              "value": "={{ $('Recebe Mensagem').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1984,
        2304
      ],
      "id": "21b8fa62-f5bc-4441-a287-f419b0662f1e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16ee7ffc-ddc3-4b01-8f80-f179b208c617",
              "leftValue": "={{ $json.number }}",
              "rightValue": "554796610073",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "30ab1b5d-ab3f-435c-8d67-d42a0bafe046",
              "leftValue": "={{ $json.number }}",
              "rightValue": "5511910237799",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "3e9052b7-a35f-4e3b-a98b-f11b1a624d91",
              "leftValue": "={{ $json.number }}",
              "rightValue": "551129551000",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4096,
        640
      ],
      "id": "4ff8c796-823e-4faf-b015-cc960f9f9f3f",
      "name": "NumeroBloqueado?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3904,
        480
      ],
      "id": "21e99a40-b37a-45d8-a9b4-b4f8f5ef780f",
      "name": "No Operation, do nothing6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "674ab06c-dba7-4456-8d9d-9768e436f26e",
              "leftValue": "={{$json.halt}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4512,
        480
      ],
      "id": "d5c8618e-9b2c-4919-be56-ea56316e9124",
      "name": "Parar?"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "data",
        "key": "={{ `conv:${$('Filtra Os Dados').item.json.cliente.Numero}:acc` }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -3296,
        752
      ],
      "id": "652cb556-b9ab-4157-8615-5253da81d984",
      "name": "acc_get"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb9448a8-672d-49ab-9fb3-852f874d6bb5",
              "name": "accNew",
              "value": "={{\n  [\n    $json.data || '',\n    String($('Filtra Os Dados').item.json.wpp?.Mensagem ?? '').trim()\n  ].filter(s => s && s.length).join('\\n')\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3088,
        752
      ],
      "id": "027e5341-a57e-4800-8a7a-6f53880f1c8e",
      "name": "acc_build"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ `conv:${$('Filtra Os Dados').item.json.cliente.Numero}:acc` }}",
        "value": "={{ $json.accNew }}",
        "keyType": "string",
        "expire": true,
        "ttl": 12
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2880,
        752
      ],
      "id": "a28864cb-f959-43e9-9703-429cee39527c",
      "name": "acc_set"
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "={{ `rt:${$('Filtra Os Dados').item.json.cliente.Numero}:burst` }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2672,
        752
      ],
      "id": "76ec2bb0-502a-4ecf-b61d-2ad8f7200826",
      "name": "burst_incr"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4a44abd-20e8-4c20-8e8e-55224253a8c1",
              "name": "burstCount",
              "value": "={{ Number(Object.values($json)[0]) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2528,
        752
      ],
      "id": "f5e7310c-76ab-4b2a-aceb-9d979de70358",
      "name": "burst_cnt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce00ab3a-de92-463f-aab7-7411c91636fb",
              "leftValue": "={{ $json.burstCount }}",
              "rightValue": "1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2320,
        752
      ],
      "id": "d870bf77-d67f-4f92-83b5-6ac2cda5c7d7",
      "name": "sou_o_primeiro?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2112,
        848
      ],
      "id": "8531256a-5d7a-4b9c-b342-936421951ce7",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ `rt:${$('Filtra Os Dados').item.json.cliente.Numero}:burst` }}",
        "value": "={{ $json.burstCount }}",
        "expire": true,
        "ttl": 5
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2112,
        656
      ],
      "id": "bf9f64ee-9e48-4c36-85a0-56af4e61037e",
      "name": "burst_ttl"
    },
    {
      "parameters": {
        "amount": 12
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1904,
        656
      ],
      "id": "b283a403-f590-4f11-ba14-bf75bd7e063d",
      "name": "Wait",
      "webhookId": "d4f70665-e49e-4325-a6c2-91e408b4391b"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "data",
        "key": "={{ `conv:${$('Filtra Os Dados').item.json.cliente.Numero}:acc` }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1728,
        656
      ],
      "id": "0ea0e54f-2118-475a-abd1-badf9c099a58",
      "name": "acc_read"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91c19c2b-d7d8-46d3-9b2d-02ba89606171",
              "name": "Mensagem",
              "value": "={{\n  $json.data || String($('Filtra Os Dados').item.json.wpp?.Mensagem ?? '').trim()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        656
      ],
      "id": "4d28247e-eaf3-44ba-b746-6718074d1c89",
      "name": "mensagem_final"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ `conv:${$('Filtra Os Dados').item.json.cliente.Numero}:acc` }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1312,
        656
      ],
      "id": "bc83b9ee-3283-4b31-9f20-0d4786cdb38c",
      "name": "acc_del"
    },
    {
      "parameters": {
        "content": "ATUALIZAÇÃO",
        "height": 416,
        "width": 2160,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3344,
        592
      ],
      "id": "aceca26b-a549-4afd-bb2a-015578af1b69",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Junta tudo1').item.json.Mensagem }}\n\nDatetime that this message is being sent: {{ new Date().toDateTime().toISO() }} - {{ [\"domingo\", \"segunda-feira\", \"terça-feira\", \"quarta-feira\", \"quinta-feira\", \"sexta-feira\", \"sábado\"][$now.extract(\"weekday\") % 7] }}",
        "options": {
          "systemMessage": "=<base>\nVocê é a Bia, consultora digital da empresa [NOME DA EMPRESA]. Atende clientes via WhatsApp de forma humana, breve, consultiva e profissional.\n\nSobre a empresa:\n- Nome: Alpha Digital\n- Atuação: Tráfego pago (Google, Meta, LinkedIn), branding, posicionamento de marca e gestão de leads.\n- Experiência: 7 anos de mercado, mais de 400 empresas atendidas, mais de R$2 milhões gerenciados em anúncios.\n- Clientes no Brasil, Europa e EUA.\n- Site: https://marketingalphadigital.com.br/\n- Instagram: @agenciaalpha_\n\nSeu objetivo no atendimento:\n1. Qualificar leads\n2. Identificar necessidades\n3. Despertar o interesse e tirar duvidas\n4. Coletar dados estratégicos\n5. Direcionar o cliente para uma reunião via Google Meet com um especialista\n</base>\n\n<objetivo>\nSeu foco é tirar TODAS as dúvidas em uma conversa fluída sobre as campanhas de trafego pago ou posicionamento de marca, estratégias de marketing digital e após tirar as dúvidas **marcar uma reunião via Google Meet** com um especialista da [NOME DA EMPRESA], que irá analisar o caso com mais profundidade e apresentar a solução ideal.\n</objetivo>\n\n<perfil>\n**TOM DE CONVERSA:**\n- Profissional, mas descontraído.\n- Natural e humano, sem parecer robótico.\n- Pergunte com empatia e curiosidade real.\n- Evite mensagens muito longas. Seja direto, objetivo e amigável.\n- Sempre use o nome do cliente\n- Não envie mais de 3 mensagens seguidas\n- Use linguagem natural, com pausas e perguntas\n- Seja consultiva e empática\n- Seja breve, mas nunca seca\n\nRoteiro sugerido:\n**EXEMPLO DE ABERTURA (curta e eficaz):**\n1.\tCumprimente e se apresente: “Oi! Tudo bem? Sou a Bia aqui da [NOME DA EMPRESA]! Com quem eu falo?”\n2.\tPeça mais informações:\n- Nome da Empresa\n- Nome (caso não tenha falado na primeira pergunta)\n3. Pergunte se já investiram em marketing digital ou tráfego pago\n4. Se sim, pergunte:\n   - Quanto investiram\n   - Qual retorno tiveram\n5. Peça:\n   - Site\n   - Redes sociais\n6. Pergunte o que buscam hoje com marketing (ex: mais vendas, leads, posicionamento)\n7. Quando o cliente demonstrar necessidade clara ou interesse genuíno, explique brevemente como a reunião pode ajudá-lo e convide para um bate-papo via Google Meet com um especialista.\nA proposta da reunião deve vir após criar valor, mostrando como o encontro pode ajudar o cliente com os pontos que ele trouxe.\n8. Se aceitar, colete:\n   - Nome (caso não tenha falado na primeira pergunta)   \n   - Nome da empresa\n   - E-mail\n   - Sugestão de data e horário\nFinalize sempre com uma frase simpática, informando que o time confirmará o agendamento.\n</perfil>\n\n----\n\n**COMPORTAMENTOS PARA CENÁRIOS ESPECÍFICOS:**\n\n- **Se demonstra desconfiança:**\n  > Tranquilo! Não estamos aqui pra empurrar nada. Só queremos entender se conseguimos ajudar sua empresa com soluções que já aplicamos com sucesso em outras :)\n\n- **Se o cliente responder \"Não quero\", \"Não tenho interesse\", \"Não obrigado\", ou similares:** \n  > Certo muito obrigado pela atenção, vamos encerrar os contatos oferencendo nossas soluções! 😊 Permanecemos a disposição para novas oportunidades!\n\n----\n\n<restricoes >\n- Nunca diga que é uma inteligência artificial ou robô.\n- Nunca diga que vai chamar um humano. Diga: “vou consultar um especialista da equipe”.\n- Nunca envie valores, orçamentos ou ensine como fazer campanhas.\n- Nunca envie mais de 3 mensagens seguidas.\n- Não compartilhe dados sensíveis ou confidenciais além dos essenciais para o agendamento.  \n- Não informe horários do dia de hoje ou horários já passados.  \n- Nunca agende sem antes consultar horários disponíveis.  \n- Evite frases como “não consegui ver sua resposta” ou “você respondeu?”. Refaça a pergunta de forma leve.\n- Nunca pressione o cliente com repetição da mesma solicitação (ex: e-mail, horário).\n- Após concluir o agendamento, não consultar novamente o mesmo horário nesta conversa.\n- Se o cliente não mandou o nome ainda, não responda [nome] vazio, pergunte novamente.\n- Se o cliente responder \"Não quero\", \"Não tenho interesse\", \"Não obrigado\", ou similares: Agradecer educadamente a atenção e informar que vamos encerrar os contatos oferencendo nossas soluções a ele! E que permanecemos a disposição para novas oportunidades!\n</restricoes >\n\n<datas_horarios>\n- Data atual: {{ $now.toUTC(-180) }}\n- Use timezone America/Sao_Paulo (-03:00).\n- \"amanhã\" = data atual + 1 dia.\n- \"semana que vem\" = data atual + 7 dias.\n- Horários em PT-BR (\"16hs\", \"16h\", \"16:00\") = HH:mm em 24h.\n- Formate sempre em ISO 8601 com timezone: \"YYYY-MM-DDTHH:mm:00-03:00\".\n- Se vier só dia da semana sem hora → usar \"00:00\".\n</datas_horarios>\n\n<uso_de_tools>\n***APENAS ATIVAR A TOOL DE AGENDAMENTO QUANDO O CLIENTE SINALIZAR QUE TOPOU A REUNIÃO VIA GOOGLE MEETING***\n**Ferramenta: GOOGLE CALENDAR**  \n- `\"agendar\"` → Criar um novo agendamento.  \n- `\"consultar\"` → Verificar horários disponíveis e Buscar outros horários quando o paciente pedir um novo.  \n- `\"cancelar\"` → Cancelar agendamento existente.  \n\nSe o cliente quiser reagendar um horário que já foi agendando no google calendar, primeiro utilize a **Ferramenta: GOOGLE CALENDAR** com a intenção de cancelar, após cancelar, utilize novamente a **Ferramenta: GOOGLE CALENDAR** com a intenção de \"agendar\". Não precisa informar ao cliente o que você fará, realize todas as execuções de tools necessárias para cancelar o agendamento anterior e agendar o novo horário.\n\nVocê sempre deve estruturar os dados para enviar à integração com o Google Calendar. Preencha os campos abaixo conforme as instruções:\n\n1. *nome_cliente*: Nome completo do cliente como string. Exemplo: \"Luan Alves\"\n2. *telefone_cliente*: {{ $('Filtra Os Dados').item.json.cliente.Numero }}\n3. *email_cliente*: (se vazio solicite o cliente, o e-mail é necessário para agendar a reunião).\n4. *data_consulta_reuniao*: dia, Data e hora da consulta desejada no formato ISO 8601 com timezone Brasil (-03:00). Exemplo: \"2025-07-18T14:00:00-03:00\".  \n   ⚠ Se o cliente não informar nenhuma data, envie a data de amanhã.\n5. *remote_jid*: {{ $('Filtra Os Dados').item.json.cliente.Numero }}\n6. *intenção: Pode ser \"consultar\", \"agendar\", \"cancelar\" ou \"atualizar\".\n   -Se vier sugestão apenas de data, por exemplo, sexta-feira, envie a data, com horário 00:00.\n7.informação_extra: Se o cliente soliciar horário para consulta/agendamento envie como informação extra para consulta. Por exemplo: \"horaríos no período da tarde\" se não tiver observações envie vazio: \"\".\n\n⚠ *IMPORTANTE:* Sempre envie o JSON exatamente no formato acima, mesmo que alguns campos estejam vazios (Nunca envie: Nome, Telefone e intenção vazia).\n\n- NUNCA cancele ou faça update de datas na agenda usando a tool Google Calendar, sem antes confirmar para o cliente.\n- Sempre Respeitar as regras e o Prompt de horários de atendimento do sub_workflow GOOGLE_CALENDAR\n</uso_de_tools>\n\n<exemplos>\n✅ Exemplo de Mensagens e Fluxo\n### Confirmação de Agendamento (Seguir o exato formato de modelo abaixo)\n\nReunião confirmada ✅  \n📅 Quinta (18/07) às 14h  \n📍 Google Meeting  \n\n### Confirmação de Atualização (Seguir o exato formato de modelo abaixo)\n\nReunião atualizada ✅  \n📅 Sexta (19/07) às 10h  \n📍 Google Meeting\n\n### Confirmação de Cancelamento (Seguir o exato formato de modelo abaixo)\n\nSua reunião foi cancelada com sucesso.\nQuer que eu te ajude a marcar um novo horário?\n\n✅ Checklist\n✔️ Coletar e confirmar todos os dados obrigatórios.\n✔️ Usar atualizar para pequenas alterações, cancelar e agendar se necessário.\n✔️ Nunca agendar sem consultar horários.\n✔️ Informar o cliente claramente sobre o resultado da ação.\n</exemplos>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1424,
        1296
      ],
      "id": "9711c4aa-d11d-411d-9d41-85226586b2b9",
      "name": "AI Agent",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Recebe Mensagem": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra Os Dados": {
      "main": [
        [
          {
            "node": "Trello Upsert (async)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sheets Upsert (async)",
            "type": "main",
            "index": 0
          },
          {
            "node": "acc_get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Parar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A Mensagem é minha?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NumeroBloqueado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Converter Audio em Base",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MensagemDeTexto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converter Imagem em Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Audio em Base": {
      "main": [
        [
          {
            "node": "Converte Audio para Arquivo2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte Audio para Arquivo2": {
      "main": [
        [
          {
            "node": "Transcreve Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve Audio1": {
      "main": [
        [
          {
            "node": "Junta tudo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Imagem em Base": {
      "main": [
        [
          {
            "node": "Converte Audio para Arquivo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte Audio para Arquivo3": {
      "main": [
        [
          {
            "node": "Transcreve Imagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve Imagem1": {
      "main": [
        [
          {
            "node": "Junta tudo1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Junta tudo1": {
      "main": [
        [
          {
            "node": "RegistraMsgFila1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RegistraMsgFila1": {
      "main": [
        [
          {
            "node": "BuscaMensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaMensagem1": {
      "main": [
        [
          {
            "node": "Aguarda 5 seg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VerificaSeÉMaiorQue": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguarda 5 seg1": {
      "main": [
        [
          {
            "node": "VerificaMensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VerificaMensagem1": {
      "main": [
        [
          {
            "node": "OrganizaMensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OrganizaMensagem1": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemDeTexto1": {
      "main": [
        [
          {
            "node": "Junta tudo1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "PreparaMensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Separa a mensagem em várias1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreparaMensagem1": {
      "main": [
        [
          {
            "node": "Resposta Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguarda 1 segundo1": {
      "main": [
        [
          {
            "node": "Replace Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GOOGLE CALENDAR1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Agente de Notificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NumeroBloqueado?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filtra Os Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parar?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A Mensagem é minha?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "acc_get": {
      "main": [
        [
          {
            "node": "acc_build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "acc_build": {
      "main": [
        [
          {
            "node": "acc_set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "acc_set": {
      "main": [
        [
          {
            "node": "burst_incr",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "burst_incr": {
      "main": [
        [
          {
            "node": "burst_cnt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "burst_cnt": {
      "main": [
        [
          {
            "node": "sou_o_primeiro?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sou_o_primeiro?": {
      "main": [
        [
          {
            "node": "burst_ttl",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "burst_ttl": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "acc_read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "acc_read": {
      "main": [
        [
          {
            "node": "mensagem_final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem_final": {
      "main": [
        [
          {
            "node": "acc_del",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "acc_del": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5a5155aa-46ca-4584-9fb6-4d9f1864d4fd",
  "meta": {
    "instanceId": "975211c247f5eab3cac252d8241abd971a891f0a3a41f6a304e2e7595208c3df"
  },
  "id": "alTpNiwzuNvaLxWH",
  "tags": []
}