N8N_internalAlpha-main/N8N_internalAlpha-main/N/Arquivos_JSON/Alpha_Group_Interno/Alpha_Marketing/Prospecçao_Email/Backfill Bounces (massa) - Gmail -_ Parse -_ Sheets + Log.json
{
  "name": "Backfill Bounces (massa) - Gmail -> Parse -> Sheets + Log",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3136,
        544
      ],
      "id": "6dc80af6-b373-45ab-a3b9-e7e4d574924a",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "includeSpamTrash": true,
          "q": "in:anywhere (from:(mailer-daemon@googlemail.com OR postmaster@google.com) OR subject:(\"Delivery Status Notification\" OR \"Undelivered\" OR \"Mail Delivery Subsystem\" OR \"Message not delivered\")) newer_than:365d"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -2912,
        544
      ],
      "id": "319fa7d0-d950-4f8e-a8a8-1bc8bd7c28d1",
      "name": "Get many messages (bounces)",
      "webhookId": "f777893b-1105-4fd6-91a2-05e16f5e3134",
      "credentials": {
        "gmailOAuth2": {
          "id": "qQRrZhyDaDfNhZdo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 25,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -2688,
        544
      ],
      "id": "9f252a1f-8217-412c-9ae1-4bba5f81ba3e",
      "name": "Split in Batches"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -2464,
        544
      ],
      "id": "c0ed90e9-ff73-40ca-ad21-bcc97d381c73",
      "name": "Get bounce message (full)",
      "webhookId": "e20d5fa8-a883-4db0-acd6-bc96d8c3abc3",
      "credentials": {
        "gmailOAuth2": {
          "id": "qQRrZhyDaDfNhZdo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -2224,
        544
      ],
      "id": "bd81cb86-a0ef-4886-accf-0b39bada6ee3",
      "name": "Build rawText"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -2000,
        544
      ],
      "id": "d6c9c099-ab5b-44be-9d2d-15fbd8b95fd6",
      "name": "Parse DSN"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "failedEmail",
              "stringValue": "={{   (     ($json.rawText || $json.snippet || '').match(/X-Failed-Recipients:\\s*([^\\s,;<>]+@[^\\s,;<>]+)/i)?.[1] ||     ($json.rawText || $json.snippet || '').match(/Final-Recipient:\\s*rfc822;\\s*([^\\s,;<>]+@[^\\s,;<>]+)/i)?.[1] ||     ($json.rawText || $json.snippet || '').match(/Original-Recipient:\\s*rfc822;\\s*([^\\s,;<>]+@[^\\s,;<>]+)/i)?.[1] ||     ($json.snippet || '').match(/mensagem para\\s+([^\\s,;<>]+@[^\\s,;<>]+)/i)?.[1] ||     ($json.rawText || $json.snippet || '').match(/for\\s*<([^>]+@[^>]+)>/i)?.[1] ||     ($json.rawText || $json.snippet || '').match(/to\\s*<([^>]+@[^>]+)>/i)?.[1] ||     ($json.rawText || $json.snippet || '').match(/([A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,})/i)?.[1] ||     ''   ).toLowerCase().trim() }}"
            },
            {
              "name": "Email_norm",
              "stringValue": "={{\n  String($json.failedEmail || $json.Email || '')\n    .toLowerCase()\n    .trim()\n    .replace(/^[<\\[\\(\\s]+/, '')\n    .replace(/[>\\]\\)\\s,;:.]+$/g, '')\n}}"
            },
            {
              "name": "statusFinal",
              "stringValue": "={{   (() => {     const subject = String($json.Subject || $json.subject || '').toLowerCase();     const snip = String($json.snippet || '').toLowerCase();     const body = String($json.rawText || '').toLowerCase();     const text = subject + '\\n' + snip + '\\n' + body;      const dsn = String($json.dsnStatus || '').trim();      if (text.includes('você alcançou o limite de envio') || text.includes('limite de envio de e-mails')) return 'SEND_LIMIT_EXCEEDED';     if (subject.includes('(delay)') || text.includes('problema temporário') || text.includes('tentará novamente')) return 'SOFT_BOUNCE_DELAY';     if (text.includes('message rejected') || text.includes('mensagem foi bloqueada') || text.includes('blocked')) return 'HARD_BOUNCE_REJECTED';      if (dsn.startsWith('5.1.1')) return 'HARD_BOUNCE_EMAIL_INEXISTENTE';     if (dsn.startsWith('5')) return 'HARD_BOUNCE_OUTROS';     if (dsn.startsWith('4')) return 'SOFT_BOUNCE_RETRY';      return 'BOUNCE_SEM_STATUS';   })() }}"
            },
            {
              "name": "bounceAt",
              "stringValue": "={{ $json.internalDate ? new Date(Number($json.internalDate)).toISOString() : new Date().toISOString() }}"
            },
            {
              "name": "Email_match",
              "stringValue": "={{ ($json.Email || '').toLowerCase().trim().replace(/^[<\\[]+/, '').replace(/[>\\],);:.\\s]+$/g, '') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1760,
        544
      ],
      "id": "19484cb9-59be-4539-b760-8c66d55fe02a",
      "name": "Classify bounce"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.shouldUpdate }}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1520,
        624
      ],
      "id": "cd7304d5-9e59-4750-9439-37ecaa264616",
      "name": "IF tem email para atualizar?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sAzHb-IomiTXj4vAMwjgQgcuIc8LwCQFuhihhFkDCek/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sAzHb-IomiTXj4vAMwjgQgcuIc8LwCQFuhihhFkDCek/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $('Classify bounce').item.json.statusFinal }}",
            "row_number": 0,
            "Email": "={{ $('Classify bounce').item.json.failedEmail }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E1_Enviado",
              "displayName": "E1_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_EnviadoEm",
              "displayName": "E1_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_Enviado",
              "displayName": "E2_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_EnviadoEm",
              "displayName": "E2_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_Enviado",
              "displayName": "E3_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_EnviadoEm",
              "displayName": "E3_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email_Aberto",
              "displayName": "Email_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data_Abertura",
              "displayName": "Data_Abertura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_Aberto",
              "displayName": "E1_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_AbertoEm",
              "displayName": "E1_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_Aberto",
              "displayName": "E2_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_AbertoEm",
              "displayName": "E2_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_Aberto",
              "displayName": "E3_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_AbertoEm",
              "displayName": "E3_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Campanha",
              "displayName": "Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes what 1",
              "displayName": "Clikes what 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes what 2",
              "displayName": "Clikes what 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes What 3",
              "displayName": "Clickes What 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 1",
              "displayName": "Clikes site 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 2",
              "displayName": "Clikes site 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 3",
              "displayName": "Clikes site 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes resposta 1",
              "displayName": "Clickes resposta 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes resposta 2",
              "displayName": "Clickes resposta 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes resposta 3",
              "displayName": "Clickes resposta 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultimo_Click_Em",
              "displayName": "Ultimo_Click_Em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultimo_Click_Step",
              "displayName": "Ultimo_Click_Step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bounce_Log",
              "displayName": "Bounce_Log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1248,
        448
      ],
      "id": "7cc0cb2b-cea8-4587-b11b-1538a13a3d73",
      "name": "Update row (match Email_norm)",
      "settings": {
        "alwaysOutputData": true
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m6Uq8aRDPxoZWcWC",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1248,
        656
      ],
      "id": "886db3eb-4675-475d-a123-be12e96e63de",
      "name": "Skip (log local)"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sAzHb-IomiTXj4vAMwjgQgcuIc8LwCQFuhihhFkDCek/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1938861577,
          "mode": "list",
          "cachedResultName": "Bounce_log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sAzHb-IomiTXj4vAMwjgQgcuIc8LwCQFuhihhFkDCek/edit#gid=1938861577"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{$json.statusFinal || 'BOUNCE_SEM_STATUS'}}",
            "Email": "={{$json.failedEmail || ''}}",
            "Bounce_Log": "={{$json.bounceAt}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E1_Enviado",
              "displayName": "E1_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_EnviadoEm",
              "displayName": "E1_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_Enviado",
              "displayName": "E2_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_EnviadoEm",
              "displayName": "E2_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_Enviado",
              "displayName": "E3_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_EnviadoEm",
              "displayName": "E3_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email_Aberto",
              "displayName": "Email_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data_Abertura",
              "displayName": "Data_Abertura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_Aberto",
              "displayName": "E1_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_AbertoEm",
              "displayName": "E1_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_Aberto",
              "displayName": "E2_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_AbertoEm",
              "displayName": "E2_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_Aberto",
              "displayName": "E3_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_AbertoEm",
              "displayName": "E3_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Campanha",
              "displayName": "Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes what 1",
              "displayName": "Clikes what 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes what 2",
              "displayName": "Clikes what 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes What 3",
              "displayName": "Clickes What 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 1",
              "displayName": "Clikes site 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 2",
              "displayName": "Clikes site 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 3",
              "displayName": "Clikes site 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes resposta 1",
              "displayName": "Clickes resposta 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes resposta 2",
              "displayName": "Clickes resposta 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes resposta 3",
              "displayName": "Clickes resposta 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultimo_Click_Em",
              "displayName": "Ultimo_Click_Em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultimo_Click_Step",
              "displayName": "Ultimo_Click_Step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bounce_Log",
              "displayName": "Bounce_Log",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1520,
        384
      ],
      "id": "d51fb39f-f6a6-4cf7-ab31-67e9454ca3bc",
      "name": "Append bounce event (Bounce_Log)",
      "settings": {
        "alwaysOutputData": true
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m6Uq8aRDPxoZWcWC",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get many messages (bounces)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages (bounces)": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Get bounce message (full)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get bounce message (full)": {
      "main": [
        [
          {
            "node": "Build rawText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build rawText": {
      "main": [
        [
          {
            "node": "Parse DSN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse DSN": {
      "main": [
        [
          {
            "node": "Classify bounce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify bounce": {
      "main": [
        [
          {
            "node": "Append bounce event (Bounce_Log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF tem email para atualizar?": {
      "main": [
        [
          {
            "node": "Update row (match Email_norm)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (log local)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append bounce event (Bounce_Log)": {
      "main": [
        [
          {
            "node": "IF tem email para atualizar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1b92544f-0006-4365-a1ad-03c6e9768202",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "975211c247f5eab3cac252d8241abd971a891f0a3a41f6a304e2e7595208c3df"
  },
  "id": "LicGXTKWmmYQgHlc",
  "tags": []
}