N8N_internalAlpha-main/N8N_internalAlpha-main/N/Arquivos_JSON/Alpha_Group_Interno/Alpha_Marketing/Prospecçao_Email/HOOK RESPOSTA DE E-MAIL (Reply original).json
{
  "name": "HOOK RESPOSTA DE E-MAIL (Reply original)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1504,
        112
      ],
      "id": "da2d8a21-bbdd-41f1-b715-9df08b1dfa65",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "includeSpamTrash": false,
          "q": "in:inbox newer_than:7d -from:me -subject:(\"Delivery Status Notification\" OR \"Undelivered\" OR \"Mail Delivery Subsystem\" OR \"Message not delivered\")"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -1264,
        112
      ],
      "id": "1affcacd-edcd-4e02-9acb-b85dd90356d7",
      "name": "Get many messages (replies)",
      "webhookId": "be355d52-f9e8-43a0-97b5-b95851e976ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "qQRrZhyDaDfNhZdo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -1024,
        112
      ],
      "id": "24cc68d7-e2c1-4672-9961-b1fa8dc72f2c",
      "name": "Get reply message (full)",
      "webhookId": "c75f774f-874b-4cac-857c-50717e72de16",
      "credentials": {
        "gmailOAuth2": {
          "id": "qQRrZhyDaDfNhZdo",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -784,
        112
      ],
      "id": "fad9cc57-4816-4788-a354-7f1960f6e41d",
      "name": "Extract Reply Data"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_reply }}",
              "operation": "isTrue"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -544,
        112
      ],
      "id": "03dfed49-cb5b-4ae1-868a-fd06714d5bf9",
      "name": "IF is reply?"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sAzHb-IomiTXj4vAMwjgQgcuIc8LwCQFuhihhFkDCek/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sAzHb-IomiTXj4vAMwjgQgcuIc8LwCQFuhihhFkDCek/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.from_email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -304,
        112
      ],
      "id": "4fe71456-9fbe-4ec8-aefc-8cf5af2ad883",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m6Uq8aRDPxoZWcWC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -64,
        112
      ],
      "id": "965cc676-0ad7-443c-a519-ac3f048bf03e",
      "name": "Attach Reply Data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        176,
        112
      ],
      "id": "76006542-6272-45aa-b812-be41b50ad2f4",
      "name": "Compute Reply Step"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "=={{ (() => {\n  const n = Number($json.reply_step_num || 1);\n  if (n === 1) return 0;\n  if (n === 2) return 1;\n  return 2;\n})() }}\n"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        416,
        112
      ],
      "id": "6503ab8c-240f-43bb-ac25-66d2aba80f9c",
      "name": "Switch (E1/E2/E3)"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sAzHb-IomiTXj4vAMwjgQgcuIc8LwCQFuhihhFkDCek/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sAzHb-IomiTXj4vAMwjgQgcuIc8LwCQFuhihhFkDCek/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Status": "Respondeu",
            "Clickes resposta 1": "=",
            "row_number": 0,
            "Ultima_Resposta_Em": "=={{ (() => { const lastId = String($json[\"Ultima_Resposta_Id\"] || \"\"); const curId  = String($json.reply_id || \"\"); const curVal = parseInt($json[\"Clickes resposta 1\"], 10) || 0; return (lastId === curId) ? curVal : (curVal + 1); })() }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E1_Enviado",
              "displayName": "E1_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_EnviadoEm",
              "displayName": "E1_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_Enviado",
              "displayName": "E2_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_EnviadoEm",
              "displayName": "E2_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_Enviado",
              "displayName": "E3_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_EnviadoEm",
              "displayName": "E3_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email_Aberto",
              "displayName": "Email_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data_Abertura",
              "displayName": "Data_Abertura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_Aberto",
              "displayName": "E1_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_AbertoEm",
              "displayName": "E1_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_Aberto",
              "displayName": "E2_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_AbertoEm",
              "displayName": "E2_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_Aberto",
              "displayName": "E3_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_AbertoEm",
              "displayName": "E3_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Campanha",
              "displayName": "Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes what 1",
              "displayName": "Clikes what 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes what 2",
              "displayName": "Clikes what 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes what 3",
              "displayName": "Clikes what 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 1",
              "displayName": "Clikes site 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 2",
              "displayName": "Clikes site 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 3",
              "displayName": "Clikes site 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes resposta 1",
              "displayName": "Clickes resposta 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Clickes resposta 2",
              "displayName": "Clickes resposta 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes resposta 3",
              "displayName": "Clickes resposta 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultimo_Click_Em",
              "displayName": "Ultimo_Click_Em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultimo_Click_Step",
              "displayName": "Ultimo_Click_Step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultima_Resposta_Em",
              "displayName": "Ultima_Resposta_Em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultima_Resposta_Step",
              "displayName": "Ultima_Resposta_Step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultima_Resposta_Id",
              "displayName": "Ultima_Resposta_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultima_Resposta_Assunto",
              "displayName": "Ultima_Resposta_Assunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        -16
      ],
      "id": "d7b5c68c-12c4-4ee6-bbd5-7dcac46243b0",
      "name": "Update Reply (E1)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m6Uq8aRDPxoZWcWC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sAzHb-IomiTXj4vAMwjgQgcuIc8LwCQFuhihhFkDCek/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sAzHb-IomiTXj4vAMwjgQgcuIc8LwCQFuhihhFkDCek/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Status": "Respondeu",
            "Clickes resposta 2": "=",
            "row_number": 0,
            "Ultima_Resposta_Id": "=",
            "Ultima_Resposta_Step": "=={{ (() => {  const lastId = String($json[\"Ultima_Resposta_Id\"] || \"\");  const curId  = String($json.reply_id || \"\");  const curVal = parseInt($json[\"Clickes resposta 2\"], 10) || 0;  return (lastId === curId) ? curVal : (curVal + 1);})() }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E1_Enviado",
              "displayName": "E1_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_EnviadoEm",
              "displayName": "E1_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_Enviado",
              "displayName": "E2_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_EnviadoEm",
              "displayName": "E2_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_Enviado",
              "displayName": "E3_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_EnviadoEm",
              "displayName": "E3_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email_Aberto",
              "displayName": "Email_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data_Abertura",
              "displayName": "Data_Abertura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_Aberto",
              "displayName": "E1_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_AbertoEm",
              "displayName": "E1_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_Aberto",
              "displayName": "E2_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_AbertoEm",
              "displayName": "E2_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_Aberto",
              "displayName": "E3_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_AbertoEm",
              "displayName": "E3_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Campanha",
              "displayName": "Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes what 1",
              "displayName": "Clikes what 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes what 2",
              "displayName": "Clikes what 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes what 3",
              "displayName": "Clikes what 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 1",
              "displayName": "Clikes site 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 2",
              "displayName": "Clikes site 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 3",
              "displayName": "Clikes site 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes resposta 1",
              "displayName": "Clickes resposta 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes resposta 2",
              "displayName": "Clickes resposta 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Clickes resposta 3",
              "displayName": "Clickes resposta 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultimo_Click_Em",
              "displayName": "Ultimo_Click_Em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultimo_Click_Step",
              "displayName": "Ultimo_Click_Step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultima_Resposta_Em",
              "displayName": "Ultima_Resposta_Em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultima_Resposta_Step",
              "displayName": "Ultima_Resposta_Step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultima_Resposta_Id",
              "displayName": "Ultima_Resposta_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultima_Resposta_Assunto",
              "displayName": "Ultima_Resposta_Assunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        112
      ],
      "id": "004e076f-4352-4e56-82b1-0d259c62fff1",
      "name": "Update Reply (E2)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m6Uq8aRDPxoZWcWC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1sAzHb-IomiTXj4vAMwjgQgcuIc8LwCQFuhihhFkDCek/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1sAzHb-IomiTXj4vAMwjgQgcuIc8LwCQFuhihhFkDCek/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Status": "Respondeu",
            "Clickes resposta 3": "=",
            "row_number": 0,
            "Ultima_Resposta_Id": "=={{ (() => {  const lastId = String($json[\"Ultima_Resposta_Id\"] || \"\");  const curId  = String($json.reply_id || \"\");  const curVal = parseInt($json[\"Clickes resposta 3\"], 10) || 0;  return (lastId === curId) ? curVal : (curVal + 1);})() }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E1_Enviado",
              "displayName": "E1_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_EnviadoEm",
              "displayName": "E1_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_Enviado",
              "displayName": "E2_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_EnviadoEm",
              "displayName": "E2_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_Enviado",
              "displayName": "E3_Enviado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_EnviadoEm",
              "displayName": "E3_EnviadoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email_Aberto",
              "displayName": "Email_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data_Abertura",
              "displayName": "Data_Abertura",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_Aberto",
              "displayName": "E1_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E1_AbertoEm",
              "displayName": "E1_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_Aberto",
              "displayName": "E2_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E2_AbertoEm",
              "displayName": "E2_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_Aberto",
              "displayName": "E3_Aberto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E3_AbertoEm",
              "displayName": "E3_AbertoEm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Campanha",
              "displayName": "Campanha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes what 1",
              "displayName": "Clikes what 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes what 2",
              "displayName": "Clikes what 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes what 3",
              "displayName": "Clikes what 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 1",
              "displayName": "Clikes site 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 2",
              "displayName": "Clikes site 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clikes site 3",
              "displayName": "Clikes site 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes resposta 1",
              "displayName": "Clickes resposta 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes resposta 2",
              "displayName": "Clickes resposta 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clickes resposta 3",
              "displayName": "Clickes resposta 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ultimo_Click_Em",
              "displayName": "Ultimo_Click_Em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultimo_Click_Step",
              "displayName": "Ultimo_Click_Step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultima_Resposta_Em",
              "displayName": "Ultima_Resposta_Em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultima_Resposta_Step",
              "displayName": "Ultima_Resposta_Step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultima_Resposta_Id",
              "displayName": "Ultima_Resposta_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ultima_Resposta_Assunto",
              "displayName": "Ultima_Resposta_Assunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        224
      ],
      "id": "9f4341d5-638b-4ffc-95df-97e3d81593d8",
      "name": "Update Reply (E3)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "m6Uq8aRDPxoZWcWC",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages (replies)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages (replies)": {
      "main": [
        [
          {
            "node": "Get reply message (full)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get reply message (full)": {
      "main": [
        [
          {
            "node": "Extract Reply Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Reply Data": {
      "main": [
        [
          {
            "node": "IF is reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF is reply?": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Attach Reply Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Reply Data": {
      "main": [
        [
          {
            "node": "Compute Reply Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Reply Step": {
      "main": [
        [
          {
            "node": "Switch (E1/E2/E3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch (E1/E2/E3)": {
      "main": [
        [
          {
            "node": "Update Reply (E1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Reply (E2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Reply (E3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "545d9d20-5f84-4742-9061-b07b152092b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "975211c247f5eab3cac252d8241abd971a891f0a3a41f6a304e2e7595208c3df"
  },
  "id": "p1M9RS0dHlXNAhte",
  "tags": [
    {
      "updatedAt": "2026-03-03T19:25:54.301Z",
      "createdAt": "2026-03-03T19:25:54.301Z",
      "id": "cDlq9Xqo7TQQrJIR",
      "name": "Resposta_Email"
    }
  ]
}